/*
 *  $Id: pivot.css,v 1.3 2007/05/18 12:03:39 source Exp $
 *
 *  This file is part of the OpenLink Software Ajax Toolkit (OAT) project.
 *
 *  Copyright (C) 2005-2007 OpenLink Software
 *
 *  See LICENSE file for details.
 */
.pivot_filter_div {	
	width:396px;
	height: 21px;
	
	/**/
 	box-shadow: 3px 3px 3px #999999;
	-webkit-box-shadow: 3px 3px 3px #999999;
	border-radius: 3px 3px 0 0;
	border: 1px solid #BBB;
	padding: 1px;
	font-family: Verdana;
	font-size: 10pt;
	/*font-style: italic;*/
	color: black;
	cursor: default !important;
	background-color: #D9DADB;
    background-image: url("degrade_submenu_gris.png");
    background-repeat: repeat-x;
	/**/
	
	border-bottom: none;
	border-bottom-width: 0;
}

.pivot_table {
	min-width:400px;
	-webkit-min-logical-width: 400px; 
	margin-bottom: 9px;
	
	/**/
	border-collapse: collapse;
	box-shadow: 3px 3px 3px #999999;
	-webkit-box-shadow: 3px 3px 3px #999999;
	font: menu;
	/**/
}
/**/
.pivot_table th.drag-drop{
	color: #0000FF;
}

.pivot_table th, .pivot_table td {
	border: 1px solid #BBB;
	padding: 5px;
	min-width: 60px;
}

.pivot_table td {
	text-align: right;
}

.pivot_table td.gtotal {
	background-color: #EBEBEB;
	font-weight: normal;
	font-family: Verdana;
	font-size: 10pt;
}

.pivot_table td.total {
	background-color: #EBEBEB;
	font-weight: normal;
	font-family: Verdana;
	font-size: 10pt;
}

.pivot_table td.subtotal {
	background-color: #EBEBEB;
	font-weight: normal;
	font-family: Verdana;
	font-size: 10pt;
}

/**/

.pivot_table .odd {
	background-color: #ffffff;
	font-weight: normal;
	font-family: Verdana;
	font-size: 10px;
}
/**/
.pivot_table .even {
	background-color: #FEFEFE;
	font-weight: normal;
	font-family: Verdana;
	font-size: 10pt;
	padding: 5px;
}

.pivot_table .evennormal {
	background-color: #FEFEFE;
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	padding: 5px;
}

.pivot_table th.h1 {
	background-color: #f0f0f0;
	font-family: Verdana;
	font-size: 10px;
}

.pivot_table th.h2 {
	background-color: #f0f0f0;
	font-family: Verdana;
	font-size: 10px;
}
/**/
.pivot_table th.h2title {
	background: url("degrade_barra_negro.png") repeat-x scroll 0 0 #5C5D5F;
	border-color: #666666;
	font-family: Verdana;
	font-weight: normal;
	font-size: 10pt;
	height: 44px;
	color: #E0E0E0;
}
.pivot_table th.h2subtitle {
	background: url("degrade_barra_negro.png") repeat-x scroll 0 0 #5C5D5F;
	border-color: #666666;
	font-family: Verdana;
	font-weight: normal;
	font-size: 10pt;
	height: 22px;
	color: #E0E0E0;
}
.pivot_table th.h2titlewhite {
	background-color: #ffffff;
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	height: 25px;
	/*font-style: italic;*/
	color: black;
	cursor: default !important;
}
/**/

.pivot_table td.pivotAdd:hover {
	background-color: #FEFEFE;
	color: #404040;
}
/**/
.pivot_table td:hover {
	background-color: #443435; 	
	color: #FEFEFE;
}
/**/
.pivot_chart, .pivot_row_chart, .pivot_col_chart {
	height: 200px;
	margin-bottom: 1.5em;
	margin-top: 0.5em;
}

.pivot_pag_div {
	width:398px;
	position: relative;
	/*float: left;*/
	
	
	/**/
	height: 36px;
	background:  url("degrade_submenu_gris.png") repeat-x scroll 0 0 #D9DADB;
	font-family: Verdana;
	font-size: 12px;
	color: black;
	border-left: 1px solid #999;
	text-align: center;
	border-radius: 0 0 3px 3px;
	box-shadow: 3px 3px 3px #999999;
	-webkit-box-shadow: 3px 3px 3px #999999;
	/**/
}

.pivot_pag_div img{
	background-repeat: no-repeat;
	background-position: center top;
	background-repeat: no-repeat;
	cursor: pointer;
}

.pivot_pag_div .pagefirst{
	background-image: url("PageFirst.png");
	padding: 9px 13px 13px 8px;
}
.pivot_pag_div .pagelast{
	background-image: url("PageLast.png");
	padding: 9px 13px 13px 8px;
}
.pivot_pag_div .pagenext{
	background-image: url("PageNext.png");
	padding: 9px 8px 13px 13px;
	
}
.pivot_pag_div .pageprev{
	background-image: url("PagePrevious.png");
	padding: 9px 8px 13px 13px;
}

.pivot_pag_div .pagefirst_ios{
	background-image: url("../images/firstBlue.png");
	background-position: center; 
	background-repeat: no-repeat;
	padding: 6px 35px 6px 8px;
	width: 16px;
	height: 16px;
}
.pivot_pag_div .pageprev_ios{
	background-image: url("../images/prevBlue.png");
	background-position: center; 
	background-repeat: no-repeat;
	padding: 6px 18px 6px 15px;
	width: 16px;
	height: 16px;
}

.pivot_pag_div .pagelast_ios{
	background-image: url("../images/lastBlue.png");
	background-position: center; 
	background-repeat: no-repeat;
	padding: 6px 35px 6px 8px;
	width: 16px;
	height: 16px;
}
.pivot_pag_div .pagenext_ios{
	background-image: url("../images/nextBlue.png");
	background-position: center; 
	background-repeat: no-repeat;
	padding: 6px 18px 6px 15px;
	width: 16px;
	height: 16px;
}

.inner_filter_div {
	float: left;
	overflow: hidden;
	margin-right: 15px;
}

.conteiner_table_div{
	position: relative;
	clear: both;
}

.inner_filter_div select {
	margin:0;
}

/*styles pop up*/
#pop-up{
	background:  /*url("")*/ repeat-x scroll 0 0 transparent;
	font-family: Verdana;
	font-size: 10pt;
	color: #404040;
	border-radius: 3px;
}

#pop-up hr{
	/*width: 100%;
	height: 3px;
	background-color: #999999;*/
	background-color: #FFFFFF;
    color: #FFFFFF;
}

.close_popup_div{
	background: url("../images/RectWin_close.png") no-repeat 50% 50%;
	width: 14px;
	height: 13px;
	margin-left: 0px;
	margin-right: 3px;
	margin-top: 3px;
}

#pop-up > .close_popup_div{
	margin-left: 0px;
	margin-right: 3px;
}
.promp-pivot-button{
	width: 100%;
}

.pivot_filter_div  .exportOptionsAnchor {
	background: url("ic_item.png") no-repeat scroll 0 0 transparent;
	float: right;
    height: 20px;
    width: 16px;
	padding-left: 6px;
	cursor: pointer;
}

#exportOptionsContainer{
	/*min-width: 350px; */
}

.pivot_filter_div > span{
	float: left;
	padding-top: 2px;
}

#exportOptionsContainer input {
	margin-bottom: 6px;
}

#pop-up > div {
	margin-left: 10px;
	margin-right: 15px;
	margin-bottom: 10px;
}

.first_popup_subdiv{
/*	margin-top: 18px;*/
}

#pop-up > .last_div_popup{
	margin-bottom: 18px;
}


.pivot_popup_fix {
    height: 190px;
    overflow: auto;
	overflow-x: hidden;
}

.check_item_img {
	background: url("checkmark.png") no-repeat scroll 0 0 transparent;
	padding-left: 20px;
	cursor: pointer;
	margin-bottom: 5px;
}

.check_item_img:hover {
	background-color: #EBEBEB;
	
}

.uncheck_item_img{
	background: url("uncheckmark.png") no-repeat scroll 0 0 transparent;
	padding-left: 20px;
	cursor: pointer;
	margin-bottom: 5px;
}

.uncheck_item_img:hover {
	background-color: #EBEBEB;
}

#pop-up input{
	font-family: Verdana;
	font-size: 10pt;
	color: #404040;
}

.div_buttons_popup {
	margin-bottom: 13px;
	margin-top: 15px;
	text-align: center;
}

.close_span_filter {
	background-image: url("../images/RectWin_close.gif");
	height: 13px;
    width: 14px;
	display: inline-block;
	margin-left: 3px;
}

/*Buttons*/
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 3px 8px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}



.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.divIeContainer {
	display: inline-block;
	box-shadow: 3px 0px 3px #999999;
	margin-bottom: 9px;
}


.pivot_table th.drag-drop{
	color: #0000FF;
}

.pivot_table th.h2title .sort-asc{
	background-image: url("../images/Grid_asc.gif");
	background-repeat: no-repeat;
}

.pivot_table th.h2title .sort-desc{ 
	background-image: url("../images/Grid_desc.gif");
	background-repeat: no-repeat;
}

.pivot_table th.h2title Grid_desc.gif{
	background-image: url("../images/Grid_none.gif");
	background-repeat: no-repeat;
}

.pivot_table th.even .expanded{
	background-image: url("../images/menos_pivot_js.png");
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding-top: 5px;
}

.pivot_table td.even .expanded{
	background-image: url("../images/menos_pivot_js.png");
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding-top: 5px;
}

.pivot_table th.even .collapsed{
	background-image: url("../images/mas_pivot_js.png");
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding-top: 5px;
}

.pivot_table td.even .collapsed{
	background-image: url("../images/mas_pivot_js.png");
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding-top: 5px;
}

.pivot_table th.even .expanded:hover{
	background-image: url("../images/menos_pivot_js_hover.png");
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding-top: 5px;
}

.pivot_table td.even .expanded:hover{
	background-image: url("../images/menos_pivot_js_hover.png");
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding-top: 5px;
}

.pivot_table th.even .collapsed:hover{
	background-image: url("../images/mas_pivot_js_hover.png");
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding-top: 5px;
}

.pivot_table td.even .collapsed:hover{
	background-image: url("../images/mas_pivot_js_hover.png");
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding-top: 5px;
}

.h2title > div{
	width: 100% !important;
}