body {
  background-color: #fff;
  /*font-family: 'Accumin Pro'*/
}

.header {
  background-color: #00191b;
  height: 60px;
  padding-top: 10px;
  padding-left: 30px;
}

.header-logo {
  float: left;
}

ul.header-notificacao {
  width: 355px;
  float: right;
  text-decoration: none;
list-style-type: none;
display: inline-block;
}


ul.header-notificacao li {
  float: left;
  display: inline-block;
  padding: 6px 0px;
}

.header-notificacao .notificacao {
  font-size: 15px;
  font-weight: bold;
  padding: 6px 14px;
  border-radius: 0;
}

.header-notificacao i {
  color: #93ffaf;
  font-size: 22px;
  border-right: 1px solid #b3b3b3;
  padding: 0px 13px;
}

.header-notificacao i:focus {
  border: 0;
  outline: 0;
}

.empresa {

  font-size: 13px;
}

.empresa span {
  border: 0;
  color: #b3b3b3;
}

.empresa span i {
  color: #b3b3b3;
}

.empresa:focus {
  outline: 0;
box-shadow: 0 0 0 3px rgba(0,0,0,.0);
}

.profile {
  color: #b3b3b3;
  font-size: 13px;
  padding:0px 16px!important;
}

.profile:hover {
  color: #b3b3b3;
}

.profile:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(0,0,0,.0);
}

.notificacao:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(0,0,0,.0);
}

a#dLabel {
  background-color: rgba(0, 0, 0, 0.00);
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  cursor: pointer;
}

a#dLabel2 {
  background-color: rgba(0, 0, 0, 0.00);
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  cursor: pointer;
}

a#dLabel3 {
  background-color: rgba(0, 0, 0, 0.00);
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.notificacao .dropdown-menu {
  background-color: #1a242d;
  width: 150px;
  height: auto;
  padding: 20px;
  border-top: 0;
  border-radius: 0;
  box-shadow: 0px 0px 1px;
}

.notificacao .dropdown-menu a {
  color: #93ffaf;
  text-decoration: none;
  padding-bottom: 8px;
  font-size: 10px;
}

.notificacao .dropdown-menu li {
  border-bottom: 1px solid #fff;
}

/**/

.empresa .dropdown-menu {
  background-color: #1a242d;
  width: 150px;
  height: auto;
  padding: 20px;
  border-top: 0;
  border-radius: 0;
  box-shadow: 0px 0px 1px;
}

.empresa .dropdown-menu a {
  color: #93ffaf;
  text-decoration: none;
  padding-bottom: 8px;
  font-size: 12px;
}

.empresa .dropdown-menu li {
  border-bottom: 1px solid #fff;
}

/**/

.profile .dropdown-menu {
  background-color: #1a242d;
  width: 150px;
  height: auto;

  padding: 20px;
  border-top: 0;
  border-radius: 0;
  box-shadow: 0px 0px 1px;
}

.profile .dropdown-menu a {
  color: #93ffaf;
  text-decoration: none;
  padding-bottom: 8px;
  font-size: 12px;
}

.profile .dropdown-menu li {
  border-bottom: 1px solid #fff;
}


.barra-menu {
    background-color: #1a242d;
    height: 45px;
    padding: 8px;
    text-align: center;
}

ul.menu li {
  display: inline;
}

ul.menu li a {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  padding-right: 10px;
  margin-right: 7px;
  text-align: center;
  border-right: 1px solid;
}

.menu li:last-child a {
  border: none;
}

.rastro-breadcrumb ol {
  background-color: transparent;
  color: #b3b3b3;
  text-transform: uppercase;
  font-size: 10px;
  padding-left: 35px;
}

.rastro-breadcrumb ol a {
  color: #b3b3b3;
  text-decoration: underline;
}

.rastro-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #868e96;
    content: ">";
}
