body {
  background-image: url(C:/Projetos/Meetrika/meetrika-bg.jpg);
  overflow: hidden;
  background-size: cover;
}

.panel-login {
  width: 620px;
  height:125px;
  margin: 0 auto;
  position: relative;
  padding-top: 270px;
}

.panel-login .form-group .form-control {
  float: left;
  width: auto!important;
  margin-right: 5px;
  font-size: 12px;
    padding: 14px 27px;
}

.panel-login a.btn-entrar {
  display: block;
  float: left;
  width: 405px;
  height: 45px;
  background-color: #63afb5;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  margin-top: 4px;
  font-weight: bold;
}

.panel-login a.btn-entrar:hover {
  background-color: #0f5656;
}

.logo img {
  float:left;
  margin-right: 10px;
}

.form-group input {
  float: left;
}

.checkbox {
  float: left;
}

.checkbox a {
  font-size: 12px;
  color: #fff;
}

.checkbox span {
  color: #fff;
  font-size: 12px;
  padding-right: 10px;
  border-right: 1px solid #fff;
}
