/* submenu cor 2b9d2b*/

.sub-menu {
    list-style: none;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 10px 0px;
}

.sub-menu li {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0px 20px;
}

.sub-menu li a {
    color: #ffffff;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 1.2em;
    font-weight: 200;
}

.sub-menu li a:hover {
    text-decoration: none;
}

.sub-faixa {
    background-color: #1a242d;
	height: 45px;
}

.sub-menu li.has-sub ul {
    display: none;
    position: absolute;
    width: 200px;
    top: 23px;
    left: 15px;
    background-color: #ececec;
    padding: 10px 7px 7px 9px;
    border: 1px solid rgba(210, 210, 210, 0.85);
    border-top: 3px solid #ffffff;
    z-index: 99;
}

.sub-menu li.has-sub li {
    display: block;
    line-height: 1;
    padding: 10px 5px;
    text-align: left;
    color: #ffffff;
}

.sub-menu li.has-sub li:not(:last-child) {
    border-bottom: 1px solid #ffffff;
}

.sub-menu li.has-sub ul a {
    font-size: 1em;
    font-weight: 100;
    color: #ffffff;
    text-transform: inherit;
}

.sub-menu li.has-sub ul a:hover,
.sub-menu li.has-sub ul li a.active {
    color: #9e9e9e;
}

.sub-menu li.has-sub ul li a:after {
    background: none;
}

.sub-menu li.has-sub:hover>ul {
    display: inline-block;
    text-align: left;
}

/* Bluetabs */
.bluetabs {
    background-image: none;
    background-repeat: no-repeat;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 0px;
    height: auto;
	border: 1px solid #1a242d !important;
}

.bluetabs li a {
    color: #fff !important;
    font-size: 11px;
    text-transform: uppercase;
    padding-right: 10px;
    margin-right: 7px;
    text-align: center;
    border-right: 1px solid !important;
	font-weight: normal;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
}

#bluetabs > ul > li > a:hover {
    text-decoration: underline !important;
    color: #fff !important;
}
#bluetabs > ul > li > a:visited {
    text-decoration: underline !important;
    color: #fff !important;
}

.bluetabs li:last-child a {
    border: none !important;
}
.bluetabs ul {
    text-align: center;
}

.dropmenudiv_b {
	width: 215px;
	border-top: 2px solid #93ffaf !important;
}

.dropmenudiv_b a {
	background-color: #1a242d !important;
    padding: 8px 3px;
	color:#ffffff !important;
}

.dropmenudiv_b a:hover {
    background-color: #1a242d;
	text-decoration: none;
	color:#006600 !important;
	}