/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

/* Geral 5cb85c */


a {
    color: #000000;
}

a:hover {
    color: #000000;
}

#TABLECONTENT{
	width:100%!important;
}

.conteudo .tab-content>.tab-pane {
    background-color: #ececec;
    padding: 10px 10px;
}

.conteudo .nav-tabs>li.active>a,
.conteudo .nav-tabs>li.active>a:focus,
.conteudo .nav-tabs>li.active>a:hover {
    color: #fff !important;
    background-color: #000000;
    border: 1px solid #000000;
}

.conteudo .nav-tabs {
    border-bottom: 1px solid #000000;
}


/* Topo */

.faixa {
	background-color: #00191b;
    height: 60px;
    padding-top: 10px;
    padding-left: 30px;
}

.menu {
    float: left;
}

.menu img {
    vertical-align: middle;
    border-style: none;
}

.menu .titulo {
    background-color: transparent;
    color: #fff;
    float: left;
    font-size: 2.150em;
    font-weight: 600;
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    line-height: 1.5;
    margin: 0;
}

.menu span {
    padding-left: 15px;
}

.acoes{

}	

.menu-acoes {
    height: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.menu-acoes a,
.menu-acoes i,
.menu-acoes span {
	color: #93ffaf;
    font-size: 22px;
    padding: 0px 13px;
}

.menu-acoes span {
    font-weight: 100;
    padding-left: 5px;
	color: #b3b3b3 !important;
	text-transform: uppercase;
}

.menu-acoes span.nome {
    font-size: 12px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
}

.menu-acoes i.fa-user {
	padding-right: 3px;
}


/* notificaçoes */

#NOTIFICACOES_MPAGE {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    left: -5%;
    min-width: 210px;
    margin-top: 0px;
	top: 46px;
    z-index: 99;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

#NOTIFICACOES_MPAGE:before {
    content: "";
    color: transparent;
    position: absolute;
    width: 0;
    height: 0;
    border: 11px solid;
    border-bottom-color: #000000;
    left: 50%;
    top: -22px;
    margin-left: -13px;
}

#NOTIFICACOES_MPAGE:after {
    content: '';
    color: transparent;
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid;
    border-bottom-color: #fff;
    left: 50%;
    top: -20px;
    margin-left: -12px;
}

#NOTIFICACOES_MPAGE tr > td:last-child {
    width: 38px;
}

#NOTIFICACOES_MPAGE li {
    line-height: 3;
}

#NOTIFICACOES_MPAGE a {
    color: #6f6f6f !important;
}

.bt-notificacoes{
	cursor: pointer;
}

#USUARIO_MPAGE {
	padding: 10px 0px;
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    left: -103px;
    min-width: 210px;
    margin-top: 0px;
	top: 46px;
    z-index: 99;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

#USUARIO_MPAGE:before {
    content: "";
    color: transparent;
    position: absolute;
    width: 0;
    height: 0;
    border: 11px solid;
    border-bottom-color: #000000;
    left: 50%;
    top: -22px;
    margin-left: -13px;
}

#USUARIO_MPAGE:after {
    content: '';
    color: transparent;
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid;
    border-bottom-color: #fff;
    left: 50%;
    top: -20px;
    margin-left: -12px;
}

#USUARIO_MPAGE li {
    line-height: 3;
}
.bt-usuario{
	cursor: pointer;
}

/* Conteudo */

h1.titulo {
    font-family: 'Hammersmith One', sans-serif;
    color: #2b9d2b;
    border-left: 5px solid #000000;
    padding-left: 10px;
}

.conteudo .breadcrumb {
    background-color: transparent;
    color: #b3b3b3;
    text-transform: uppercase;
    font-size: 10px;
    padding-left: 35px;
}


/* grids */

.grids-meetrika thead {
    background-color: #000000;
    color: #fff;
}

.tabela-acoes {
    width: 100%;
    text-align: right;
}

.tabela-acoes:after {
    clear: both;
    content: " ";
    display: block;
}

.tabela-acoes p.right {
    text-align: right;
    float: right
}

.btn.link {
    font-weight: 400;
    color: #000000;
    border-radius: 0;
    border: none;
    min-width: 50px;
    background: none;
}

legend.GroupTitle {
    color: #000000;
}

.RecentLinkItem{
	background-color: transparent;
    color: #b3b3b3 !important;
    text-transform: uppercase;
    font-size: 10px !important;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
}

.RecentLinkItem a{
	background-color: transparent;
    color: #b3b3b3 !important;
    text-transform: uppercase;
    font-size: 10px !important;
	text-decoration: underline;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
}

/* rodapé 
.final-pagina {
	position: absolute;
    bottom: 0;
    width: 100%;
}
*/
.rodape {
    background-color: #ececec;
    color: #000000;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
}

.rodape p {
    margin: 0;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 320px) {}
